button{
    width: 100%;
    border-radius: var(--spacing-100);
    border: none;
    background-color: var(--green-500);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-200) var(--spacing-400);
    gap: var(--spacing-100);
    color: var(--color-white);
    transition-property: background-color;
    transition-duration: 1s;
}
@media(min-width: 1440px){
        button:hover{
    background-color: var(--green-700);
    cursor: pointer;
}
    }