@import 'reset.css';
@import 'variable.css';
@import 'typo.css';
@import 'component.css';
@layer reset, typo, component;

body{
    background-color: var(--color-cream);
    margin: 50px 12px;
}
figure{
    content: url(/images/image-product-mobile.jpg);
    width: 100%
}
main{
    background-color: var(--color-white);
    border-radius: var(--spacing-100);
    overflow: auto;
}
header{
    text-transform: uppercase;
}
section{
    padding: var(--spacing-400);
}
header,
.titre,
.description,
.price{
    margin-bottom: var(--spacing-300)
}
header,
.description,
.sold-price{
    color: var(--color-grey);
}
.titre{
    color: var(--color-black);
    width: 100%;
}
.sell-price{
    color: var(--green-500)
}
.sold-price{
    text-decoration-line: line-through;
}
.price{
    display: flex;
    margin: var(--spacing-300) 0;
    gap: var(--spacing-200);
    justify-content: flex-start;
    align-items: center;
}
@media(min-width: 768px) {
    body{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    figure{
    content: url(/images/image-product-desktop.jpg);
    width: 100%
}
    main{
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 600px;
    }
    section,
    figure{
        width: 50%;
    }
}