@import 'reset.css';
@import 'variable.css';
@import 'typo.css';
@import 'component.css';
@layer reset, typo, component;

body{
    background-color: var(--color-cream);
    padding: 50px 12px;
}
.display_mobile{
    height: 342px;
    width: 100%;
}
main{
    background-color: var(--color-white);
    border-radius: var(--spacing-100);
}
section{
    padding: var(--spacing-400);
}
header,
.titre,
.description,
.price{
    margin-bottom: var(--spacing-300)
}
header,
.description,
.sold-price{
    color: var(--color-grey);
}
.titre{
    color: var(--color-black);
    width: 100%;
}
.sell-price{
    color: var(--green-500)
}
.sold-price{
    text-decoration-line: line-through;
}
.price{
    display: flex;
    margin: var(--spacing-300) 0;
    gap: var(--spacing-200);
    justify-content: flex-start;
    align-items: center;
}
.display_desktop{
    display: none;
}